<a href="https://colab.research.google.com/github/swbgibbons/cal_trac/blob/main/airbnb_data_run.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
airbnb_data = pd.read_csv('/content/archive.zip', low_memory=False)
airbnb_data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [ ]:
airbnb_data.shape

(102599, 26)

In [ ]:
airbnb_data.rename(columns={'host_identity_verified': 'verified'}, inplace=True)
airbnb_data.head()

In [ ]:
# return data series where 
verified = airbnb_data[airbnb_data['verified'] == 'verified']
verified

In [ ]:
verified.columns
# Note: specific index ranges are as follows
# [0:2, 4:6, 9:13, 15:25]

Index(['id', 'NAME', 'host id', 'verified', 'host name', 'neighbourhood group',
       'neighbourhood', 'lat', 'long', 'country', 'country code',
       'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [ ]:
new_df = verified[['id', 'NAME', 'host id', 'host name', 'neighbourhood group', 'neighbourhood', 'country', 'country code',
                'instant_bookable', 'price', 'service fee', 'minimum nights', 'number of reviews', 'last review',
                'reviews per month', 'review rate number', 'calculated host listings count', 'availability 365',
                'house_rules', 'license']]
new_df.head()

,id,NAME,host id,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Manhattan,Midtown,United States,US,False,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,Manhattan,East Harlem,United States,US,False,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Manhattan,Murray Hill,United States,US,True,$577,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
8,1005754,Large Furnished Room Near B'way,79384379533,Evelyn,Manhattan,Hell's Kitchen,United States,US,True,"$1,018",$204,2.0,430.0,6/24/2019,3.47,3.0,1.0,180.0,- Please clean up after yourself when using th...,NaN
10,1006859,Cute & Cozy Lower East Side 1 bdrm,1280143094,Miranda,Manhattan,Chinatown,United States,US,False,$319,$64,1.0,160.0,6/9/2019,1.33,3.0,4.0,1.0,NaN,NaN

In [ ]:
import numpy as np
loki = verified.iloc[:,np.r_[0:2, 4:6, 9:13, 15:25]]
loki.head()

,id,NAME,host name,neighbourhood group,country,country code,instant_bookable,cancellation_policy,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
1,1002102,Skylit Midtown Castle,Jenna,Manhattan,United States,US,False,moderate,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
4,1003689,Entire Apt: Spacious Studio/Loft by central park,Lyndon,Manhattan,United States,US,False,moderate,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
5,1004098,Large Cozy 1 BR Apartment In Midtown East,Michelle,Manhattan,United States,US,True,flexible,$577,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."
8,1005754,Large Furnished Room Near B'way,Evelyn,Manhattan,United States,US,True,strict,"$1,018",$204,2.0,430.0,6/24/2019,3.47,3.0,1.0,180.0,- Please clean up after yourself when using th...
10,1006859,Cute & Cozy Lower East Side 1 bdrm,Miranda,Manhattan,United States,US,False,flexible,$319,$64,1.0,160.0,6/9/2019,1.33,3.0,4.0,1.0,NaN

In [ ]:
# new function alert!
# using the 'np.r_' to parse thru specific indices is fucking KING BBY

In [ ]:
# instant_bookable = True,
# 	cancellation policy is moderate or flexible,
# 	service fee doesnt exceed $35,
# 	minimum nights less than 10

In [ ]:
versa = loki[loki[['instant_bookable' == 'True'], loki['cancellation_policy' == 'moderate' or 'flexible']]
versa

SyntaxError: ignored

In [ ]:
versa = loki[(loki['instant_bookable']), (loki['cancellation_policy'] == 'moderate' | 'flexible')]

TypeError: ignored